.app-navbar {
  z-index: 1;
  position: fixed;
  width: 100vw;
  padding-right: 3rem;
  background: linear-gradient(to bottom, #232526, #414345);
  box-shadow: 0 0.5rem 0.5rem 0 rgba(4, 4, 6, 0.82);
  transition: all 0.5s ease-in;
}
.nav-brand {
  cursor: pointer;
}

#navabout {
  color: white;
  font-size: 1.1rem;
}
#navprojects {
  color: white;
  font-size: 1.1rem;
}
#navcontact {
  color: white;
  font-size: 1.1rem;
}
#navabout:hover {
  color: lemonchiffon;
  transition: all 0.2s ease-out;
}
#navprojects:hover {
  color: lemonchiffon;
  transition: all 0.2s ease-out;
}
#navcontact:hover {
  color: lemonchiffon;
  transition: all 0.2s ease-out;
}
