@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

.headerClass{    
    height: 45.2rem;
    background: linear-gradient(rgba(7, 10, 12, 0.72),rgba(7, 10, 12, 0.72)),url('https://c1.wallpaperflare.com/preview/250/615/762/all-black-black-business-desk.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-top: 2rem;
}
.navClass{
    margin-right: 13rem;
}
#navhome:hover{
    font-size: 1.1rem;
    transition: all .2s ease-out;
}
#navabout:hover{
    font-size: 1.1rem;
    transition: all .2s ease-out;
}
#navprojects:hover{
    font-size: 1.1rem;
    transition: all .2s ease-out;
}
#navcontact:hover{
    font-size: 1.1rem;
    transition: all .2s ease-out;
}
.intro{
    text-align: center;
    margin-top: 10rem;    
}

.aboutMe{    
    background: linear-gradient(rgb(63, 74, 118), rgb(13, 22, 72));
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.aboutRow{     
    min-height: 24rem;
}
.aboutPic{    
    margin-bottom: 2rem;
    margin-right: 5rem;
}
.aboutContent{    
        
    align-self: center;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.projectSection{
    background: linear-gradient(rgba(7, 10, 12, 0.72),rgba(7, 10, 12, 0.72)),url('https://c4.wallpaperflare.com/wallpaper/455/346/398/macro-blur-keyboard-laptop-wallpaper-preview.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    text-align: center;
    min-height: 12rem;
    padding-top: 5rem;
}

.cardDiv{
    background: rgba(255, 255, 255, 0.1);
    min-height: 6rem;
    min-width: 6rem;
    padding: 2rem;
    margin-right: 1rem;
    
}
.cardDiv:hover{
    background : #000;
    opacity : 0.8;
    transition: ease-out 0.4s;
}
.proRow{
    min-height: 24rem;
    padding-bottom: 5rem;
    justify-content: center;
    padding-left: 1rem;
}
.projectIcons{
    width: 35%;
}
.contactSection{
    background: linear-gradient(rgb(63, 74, 118), rgb(13, 22, 72));
    padding: 3em;
    padding-bottom: 5rem;
}
.contactTitle{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 2rem;
}
.contactDescription{
    margin-bottom: 2rem;
}

#errorPara{
    color: #bf1650;
}      
#errorPara::before {
    display: inline;
    content: "⚠ ";
}
button[type="submit"]{
  background: rgb(43, 40, 241);
  color: white;
  text-transform: uppercase;
  border: none;
}
button[type="submit"]:hover{
  background: rgb(14, 30, 121);
}
button[type="submit"]:active{
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.footerSec{
    background: #222222;
    min-height: 2rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
}
.socialFooter{
    justify-content: center;
    min-height: 2rem;
}
.footer{
    justify-content: center;
    display: grid;
}
.arrowTop{
    display: grid;
    font-size: 1.3rem;
    justify-content: center;
    min-height: 4rem;
    width: 20%;
    margin-left: 7rem;
    color: white;
}
.arrowTop:hover{
    color: white;
    font-size: 2.1rem;    
    transition: all .2s ease-out;
    text-decoration: none;
}
.icon{
    font-size: 1.7rem;
    margin-left: 2rem;
    color: white;
}
.icon:hover{
    color: #35a22c ;
    transition: all .3s ease-out;
    text-decoration: none;
}
.footerText{
    color: grey;
}
